.App {
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.App-content {
  height: 100%;
}

.App-sets {
  float: left;
  background-color: gold;
  width: 20%;
}

.App-cards {
  float: right;
  background-color: lightblue;
  width: 80%;
}

.App-link {
  color: #61dafb;
}

.Card {
  display: inline;
}
